<ion-content [fullscreen]="true" class="screen-background-primary">
  <div class="main-container">
    <div class="box form-section-container">
      <div class="box title-container">
        <p>Recuperar contraseña</p>
      </div>

      <div class="box form-container">
        <form [formGroup]="forgotPasswordForm">
          <div class="form-group">
            <ion-label>Correo Electrónico</ion-label>
            <ion-input
              type="text"
              formControlName="email"
              placeholder="tu_correo@mail.com"
              [class.is-invalid]="
                forgotPasswordForm.controls['email'].invalid &&
                (forgotPasswordForm.controls['email'].touched || forgotPasswordForm.controls['email'].dirty)
              "
            />
          </div>
        </form>
      </div>

      <div class="box btn-submit-container">
        <ion-button
          class="btn btn-form-submit"
          type="button"
          (click)="submit()"
        >
          Enviar
        </ion-button>
      </div>

      <div class="box go-to-login-container">
        <span>¿Ya tienes cuenta?</span>
        <span class="link" (click)="goToLogin()">Inicia Sesión</span>
      </div>
    </div>
  </div>
</ion-content>
