<ion-content [fullscreen]="true" class="screen-background-secondary">
  <div class="main-container">
    <div class="box icon-container">
      <img src="assets/images/eco_market.png" alt="Icono Eco Market" />
    </div>

    <div class="box form-section-container">
      <div class="box title-container">
        <p>Iniciar Sesión</p>
      </div>

      <div class="box form-container">
        <form action="">
          <ion-input placeholder="" />
          <ion-input placeholder="" />
        </form>
      </div>

      <div class="box btn-submit-container">
        <button type="submit">Entrar</button>
      </div>

      <div class="box text-reset-password-container">
        <p>¿Olvidaste tu contraseña?</p>
      </div>

      <div class="box text-register-container">
        <p>¿No tienes una cuenta? Regístrate</p>
      </div>
    </div>
  </div>
</ion-content>
