<ion-content>
  
  <ion-header collapse="condense">
    
    <ion-toolbar>
      <ion-title size="large">register</ion-title>
    </ion-toolbar>

  </ion-header>

  <div class="contenedor">

    <form action="">

      <label for="">Nombre Completo
        <ion-input class="" placeholder="Ej: Nicolas Rosero Correal"> </ion-input>

      </label>

      <label for="">Correo Electronico
        <ion-input class="" placeholder="Ej: nspcorreal@gmail.com"></ion-input>

      </label>

      <label for="">Contraseña
        <ion-input class="" placeholder="Ej: Password20**"></ion-input>

      </label>

      <label for="">Confirmar Contraseña
        <ion-input class="" placeholder="Ej: Password20**"> </ion-input>

      </label>

      <button class="button" >
        Registrate
      </button>

    </form>

    <div class="regsterLink">
      <p>¿Ya tienes cuenta?</p> <a href="http://">Registrate</a>
    </div>

  </div>

  <footer class="footer" >
    
  </footer>
  
</ion-content>
