<ion-content [fullscreen]="true" class="screen-background-primary">
  <div class="main-container">
    <div class="box icon-container">
      <img src="assets/images/eco_market.png" alt="Icono Eco Market" />
    </div>

    <div class="box form-section-container">
      <div class="box title-container">
        <p>Regístrate</p>
      </div>

      <div class="box form-container">
        <form [formGroup]="registerForm">
          <div class="form-group">
            <ion-label>Nombre Completo</ion-label>
            <ion-input
              type="text"
              formControlName="name"
              placeholder="Ej: Pepito Perez Gomez"
              [class.is-invalid]="
                registerForm.controls['name'].invalid &&
                (registerForm.controls['name'].touched || registerForm.controls['name'].dirty)
              "
            ></ion-input>
          </div>

          <div class="form-group">
            <ion-label>Correo Electrónico</ion-label>
            <ion-input
              type="email"
              formControlName="email"
              placeholder="Ej: pepito@mail.com"
              [class.is-invalid]="
                registerForm.controls['email'].invalid &&
                (registerForm.controls['email'].touched || registerForm.controls['email'].dirty)
              "
            ></ion-input>
          </div>

          <div class="form-group">
            <ion-label># Celular</ion-label>
            <ion-input
              type="text"
              inputmode="numeric"
              formControlName="phone"
              placeholder="Ej: 3211234560"
              [class.is-invalid]="
                registerForm.controls['phone'].invalid &&
                (registerForm.controls['phone'].touched || registerForm.controls['phone'].dirty)
              "
            ></ion-input>
          </div>

          <div class="form-group">
            <ion-label>Rol</ion-label>
            <ion-select
              formControlName="rol"
              interface="popover"
              placeholder="Selecciona un rol"
              [class.is-invalid]="
                registerForm.controls['rol'].invalid &&
                (registerForm.controls['rol'].touched || registerForm.controls['rol'].dirty)
              "
            >
              <ion-select-option value="" disabled>-- Seleccione --</ion-select-option>
              <ion-select-option [value]="option.value" *ngFor="let option of roles">
                {{ option.text }}
              </ion-select-option>
            </ion-select>
          </div>

          <div class="form-group">
            <ion-label>Contraseña</ion-label>
            <ion-input
              type="password"
              formControlName="password"
              placeholder="Ej: Ejem1234*"
              [class.is-invalid]="
                registerForm.controls['password'].invalid &&
                (registerForm.controls['password'].touched || registerForm.controls['password'].dirty)
              "
            ></ion-input>
          </div>

          <div class="form-group">
            <ion-label>Confirmar Contraseña</ion-label>
            <ion-input
              type="password"
              formControlName="confirmPassword"
              placeholder="Ej: Ejem1234*"
              [class.is-invalid]="
                registerForm.controls['confirmPassword'].invalid &&
                (registerForm.controls['confirmPassword'].touched || registerForm.controls['confirmPassword'].dirty)
              "
            ></ion-input>
          </div>

          <div class="form-group">
            <input
              type="checkbox"
              formControlName="agreeTerms"
              placeholder="Ej: Ejem1234*"
            />
            <ion-label> Acepta términos y condiciones</ion-label>
          </div>
        </form>
      </div>

      <div class="box btn-submit-container">
        <ion-button
          class="btn btn-form-submit"
          type="button"
          (click)="submit()"
        >
          Registrarse
        </ion-button>
      </div>

      <div class="box go-to-login-container">
        <span>¿Ya tienes cuenta?</span>
        <span class="link" (click)="goToLogin()">Inicia Sesión</span>
      </div>
    </div>
  </div>
</ion-content>
