<ion-content [fullscreen]="true">
  <app-header />
  <!-- <app-menu /> -->

  <!-- Imagen prin -->
  <ion-img
    class="ion-icon-product"
    src="assets/images/product.jpg"
    alt="eco products"
  />

  <!-- Contenedor gene -->
  <div class="contenedor-central">
    <!-- counter dinámi -->
    <div class="counter">
      <div *ngFor="let item of counter">
        <h2>{{ item.value }}</h2>
        <p>{{ item.tag }}</p>
      </div>
    </div>

    <!-- Seccion de productos -->
    <h3 class="ion-text-center">Productos</h3>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="3" *ngFor="let p of homeProducts">
          <ion-avatar>
            <img [src]="p.image" [alt]="p.alt" />
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
