
<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Imagen principal -->
  <ion-img class="ion-icon-product" src="../../../assets/images/product.jpg" alt="eco products"></ion-img>

  <!-- Contador -->
  <div class="contador">
    <div>
      <h2>8</h2>
      <p>Horas</p>
    </div>
    <div>
      <h2>10</h2>
      <p>Minutos</p>
    </div>
    <div>
      <h2>40</h2>
      <p>Segundos</p>
    </div>
  </div>

  <!-- Sección de productos -->
  <h3 class="ion-text-center">Productos</h3>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3">
        <ion-avatar>
          <img src="../../../assets/images/product1.jpg" alt="producto 1">
        </ion-avatar>
      </ion-col>
      <ion-col size="3">
        <ion-avatar>
          <img src="../../../assets/images/product2.jpg" alt="producto 2">
        </ion-avatar>
      </ion-col>
      <ion-col size="3">
        <ion-avatar>
          <img src="../../../assets/images/product3.jpg" alt="producto 3">
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
