/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import '@ionic/angular/css/palettes/dark.system.css';

// Fuentes
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

:root {
  // Paleta VOGA
  --voga-dark: #252525; // Negro verdoso profundo
  --voga-green: #52604B; // Verde grisáceo medio
  --voga-light-green: #678D69; // Blanco verdoso muy claro
  --voga-gray: #A9C5AF; // Gris claro y neutro
  --voga-almost-white: #E7F1E6; // Blanco casi puro
  --voga-parcial-white: #FAFAEE; // Blanco puro
  --voga-backGround-beige: #fff8d6; //Beige suave

  // Colores de estado
  --voga-success: #2e8b57;
  --voga-danger: #A52A2A;
  --voga-warning: #C2882C;
  --voga-color-gray: #707271; // Gris claro y neutro


  --voga-background-primary: var(--voga-green) !important;
  --voga-background-secondary: var(--voga-parcial-white) !important;
  --voga-background-dark: var(--voga-dark) !important;
  --voga-font-family-primary: 'DM Serif Display', serif !important;
  --voga-font-family-secondary: 'Gilda Display', serif !important;
}

* {
  font-family: var(--voga-font-family-primary);
}

.screen-background-primary {
  --background: var(--voga-background-primary);
}

.screen-background-secondary {
  --background: var(--voga-background-secondary);
}

.screen-background-dark {
  --background: var(--voga-background-dark);
}

.text-primary {
  color: var(--voga-dark);
}

.text-secondary {
  color: var(--voga-green);
}

.text-light {
  color: var(--voga-light-green);
}

.text-dark {
  color: #1f1f1f;
}

.text-success {
  color: var(--voga-success);
}

.text-danger {
  color: var(--voga-danger);
}

.text-warning {
  color: var(--voga-warning);
}

ion-fab-button {
  --ion-color-danger: var(--voga-danger);
  --ion-color-danger-shade: #cf3c4f;
}

.btn {
  --background: var(--voga-green);
  --background-activated: var(--voga-dark);
  --background-hover: var(--voga-dark);
  --color: var(--voga-almost-white);
  font-family: var(--voga-font-family-secondary) !important;
  font-weight: 600;
  padding: 0 2rem;
}

.btn-secondary {
  --background: var(--voga-light-green);
  --background-activated: var(--voga-gray);
  --background-hover: var(--voga-gray);
  --color: var(--voga-almost-white);
  font-family: var(--voga-font-family-secondary) !important;
  font-weight: 600;
  padding: 0 2rem;
  width: 50%;
}

.btn-dark {
  --background: var(--voga-gray);
  --background-activated: var(--voga-color-gray);
  --background-hover: var(--voga-color-gray);
  --color: var(--voga-almost-white);
  font-family: var(--voga-font-family-secondary) !important;
  font-weight: 600;
  padding: 0 2rem;
  width: 100%;
}

.link {
  color: var(--voga-dark);
  font-weight: bold;
  cursor: pointer;
}

.action-box {
  border: none;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 5px auto;
  border-radius: 8px;
  color: var(--voga-almost-white);
  font-size: 1.3rem;
  cursor: pointer;
}

.action-box:hover {
  opacity: .8;
}

/******* Formularios *******/
ion-label,
ion-input {
  font-family: var(--voga-font-family-secondary) !important;
}

ion-label {
  color: var(--voga-dark);
  font-weight: bold;
}

ion-input,
ion-select,
ion-textarea {
  border: 1px solid var(--voga-green);
  background: var(--voga-almost-white);
  color: var(--voga-dark) !important;
  --padding: 0 8px !important;
  border-radius: 6px;
}

.is-invalid {
  border: 3px solid var(--voga-danger) !important;
}

.form-group {
  margin: 1rem auto;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: var(--voga-green);
}

/******* Productos <3 *******/
.products-content {
  padding: 16px;
}

.producto-card {
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  transition: transform 0.2s ease-in-out;
}

.producto-card:hover {
  transform: scale(1.03);
}

.producto-card img {
  width: 100%;
  border-radius: 14px 14px 0 0;
  height: 150px;
  object-fit: cover;
}

.agotado {
  color: var(--voga-danger);
  font-weight: bold;
}

/* Barra de scroll */
::-webkit-scrollbar {
  width: .7rem;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 1rem;
}

:hover::-webkit-scrollbar-thumb {
  background: var(--voga-light-green);
}
